
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(bedroom.jpg);
    background-size: cover;
    background-position: center;    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 65px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#eee9e9;
    /* text-transform: uppercase; */
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width:0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* Zochin Info */
.zochin-info .info-right {
    float: right;
    padding-top: 105px;
    width: 40%;
    min-height: 120%;
}

.zochin-info .info-right img {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 0%;
}

.zochin-info .info-left {
    float: left;
    width: 60%;
    min-height: 100%;
}

.zochin-info .info-left p{
    width: 90%;
    margin: 10px auto;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
} 


/* Galtogoo */

.zochin-info .info-left .py-2 {padding: 20px 0;}

.zochin-info .info-left .l-heading {
    font-size: 40px;
}

.zochin-info .info-left .bg-primary {
    margin-left: 30px;
    background: #0e0e0f ;    
    color: #f2f0f0;
}

/* Comments */
.zochin-info .info-left {
    color: #fff;    
}

.zochin-info .info-left  h2 {
    padding-top: 50px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.zochin-info .info-left .comment {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0%;
    opacity: 0.8;
}

.zochin-info .info-left .comment img {
    float: left;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}




